[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
ruff = "*"
ipython = "*"
tqdm = "*"
pandas = "*"
janome = "*"
pydantic = "*"

[packages]
logzero = "*"
ruamel-yaml = "*"
tomli = "*"
click = "*"
tomlkit = "*"
configargparse = "*"
pydantic = "*"
pytest = "*"

[requires]
python_version = "3.13"

[scripts]
test = "pytest tests"
