[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
tqdm = "*"
pytest = "*"
mypy = "*"
flake8 = "*"
line-profiler = "*"

[packages]
configargparse = "*"
pyyaml = "*"
logzero = "*"
ruamel-yaml = "==0.17.4"
typing-extensions = "*"

[requires]
python_version = "3.9"

[scripts]
check = "./tests/check.sh"
test = "pytest tests"
