[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
tqdm = "*"
pytest = "*"
mypy = "*"
flake8 = "*"
pandas = "*"

[packages]
configargparse = "*"
logzero = "*"
ruamel-yaml = "==0.17.4"
tomlkit = "*"
click = "*"
tomli = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest tests"
